<!DOCTYPE html>
<html ng-app="tempconverter">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
      <div class="page-header">
        <div class="container">
          <h1>Temperature Converter</h1>
        </div>
      </div>
      <div class="main" ng-controller="TempController as temp">
        <div class="container">
          <form ng-submit="temp.convert()">
            <div class="form-group">
              <label for="fromTemp">Temperature</label>
              <input class="form-control" type="textfield" name="temp"
              ng-model="temp.temp"/>
            </div>
            <div class="form-group">
              <label>From</label> <br/>
              <label class="radio-inline">
                <input type="radio" name="fromTempRadio" id="fromTempRadioKelvin"
                value="kelvin" ng-model="temp.fromUnits"/> Kelvin
              </label>
              <label class="radio-inline">
                <input type="radio" name="fromTempRadio" id="fromTempRadioCelsius"
                value="celsius" ng-model="temp.fromUnits"/> Celsius
              </label>
              <label class="radio-inline">
                <input type="radio" name="fromTempRadio" id="fromTempRadioFahrenheit"
                value="fahrenheit" ng-model="temp.fromUnits"/> Fahrenheit
              </label>
            </div>
            <div class="form-group">
              <label>To</label> <br/>
              <label class="radio-inline">
                <input type="radio" name="toTempRadio" id="toTempRadioKelvin"
                value="kelvin" ng-model="temp.toUnits"/> Kelvin
              </label>
              <label class="radio-inline">
                <input type="radio" name="toTempRadio" id="toTempRadioCelsius"
                value="celsius" ng-model="temp.toUnits"/> Celsius
              </label>
              <label class="radio-inline">
                <input type="radio" name="toTempRadio" id="toTempRadioFahrenheit"
                value="fahrenheit" ng-model="temp.toUnits"/> Fahrenheit
              </label>
            </div>
            <button type="submit" class="btn btn-default">Convert</button>
          </form>
          <div class="result">
            <h3>Result</h3>
            <div class="toTemp">
              <p class="pull-right">{{temp.result | number:2}}</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <footer class="footer">
        <div class="container">
          <p class="text-muted pull-left">
            &copy; Harry Ganz
          </p>
        </div>
      </footer>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
